{% extends "base.html" %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Notificaciones Dashboard</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae odit
      maiores alias consequuntur incidunt repellat rem veniam nobis, quibusdam
      reprehenderit, accusamus molestias repellendus laudantium repudiandae
      ratione aut et accusantium harum. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Delectus quas facilis praesentium eveniet debitis
      quisquam distinctio porro sunt recusandae, ducimus sed blanditiis
      exercitationem dolorem fugit earum quod ipsum nemo. Molestiae! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Maxime dicta velit
      repudiandae quae! Minima voluptate dolorum dolore consectetur aperiam
      repudiandae earum esse nihil. Harum ducimus maxime nulla placeat nemo
      sunt. Ipsam, facere. Sequi error a repudiandae doloremque. Non
      consequuntur hic laudantium harum veniam itaque. Perferendis mollitia
      possimus beatae quo perspiciatis. Ipsa quia fuga, cupiditate sed ducimus
      similique rerum provident nisi! Inventore doloribus delectus eum, quod
      repellendus omnis, iure dolorum aliquid explicabo, ipsum perferendis amet
      quas atque officiis nulla ab corrupti reprehenderit accusantium eius.
      Eveniet fuga iusto eius, velit repudiandae sint? Animi, cum voluptate eos
      quaerat vel autem, ad et, aliquam non similique asperiores enim error
      maxime aliquid reiciendis sequi iusto iste itaque ut quas tempore fugiat.
      Rerum reiciendis cumque tempora?
    </p>
  </section>
</main>

{% endblock %}
